*{
    padding: 0;
    margin: 0;
}

.slideshow-container {
    width: 100%;
    max-width: 1535px; 
    position: relative;
    overflow: hidden;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.1);
    margin: auto;
    overflow: hidden;
    border: none;    
}

.slideshow-wrapper {
    width: 100%;
    display: flex;
    animation: slide 10s infinite;
}

@keyframes slide {
    0%, 20% {
        transform: translateX(0);
    } 
    25%, 45% {
        transform: translateX(-100%);
    }
    50%, 70%{
        transform: translateX(-200%);
    }
    75%, 100% {
        transform: translateX(0%);
    }
}


.calculate-now-btn {
    position: absolute;
    bottom: 100px;
    right: 80px;
    background-color: black;
    color: white;
    font-family: "Poppins" sans-serif;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3 ease;
    text-decoration: none;
}

.calculate-now-btn:hover {
    background-color: aliceblue;
    color: black;
    border: black;
}
